
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title_block %}BASE{% endblock %}</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>

	<!-- Navbar -->
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCol">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

				<a href="{% url 'homepage' %}" class="navbar-brand">MatchWords</a>
			</div>

			<div class="collapse navbar-collapse" id="navCol">
				<ul class="nav navbar-nav navbar-right">
					
					<!-- Check if user is authenticated -->
					{% if user.is_authenticated %}
						<li>
							<a href="{% url 'words:profile' %}">Search Words</a>
						</li>

						<li>
							<a href="{% url 'accounts:logout' %}">Logout</a>	
						</li>
					{% else %}
						<li>
							<a href="{% url 'accounts:signup' %}">Sign Up</a>
						</li>

						<li>
							<a href="{% url 'accounts:login' %}">Login</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="jumbotron">
		{% block body_block %}

		


		{% endblock %}
		</div>
	</div>
	



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>